*{
    box-sizing: border-box;
}
body{
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    font-family: Arial, sans-serif;
    line-height: 1.4px;
}
.container{
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.589);
    border-radius: 15px;
    text-align: left;
    align-content: center;
    justify-content: center;
    padding: 10px 20px 20px 20px;
    margin-left: auto;
    margin-right: auto;
    line-height: 20px;
    width: 400px;
}
.signup{
    text-align: center;
    font-size: 2.3rem;
    margin-bottom: 50px;
}
.namec{
    display: inline-flex;
    width: 100%;
}
.name{
    width: 49%;
}
#lastname{
    margin-left:4%
}
#hide{
    visibility: hidden;
}
input[type="text"],
input[type="email"],
input[type="password"]{
    width: 100%;
    font-size: 20px;
    border: 1px solid darkgray;
    border-radius: 4px;
    padding: 10px;
}
.dateofbirth{
    width: 100%;
    display: inline-flex;
}
.dob{
    padding: 10px;
    width: 100%;
    margin: 0px 6px 0px 6px;
}
select{
    appearance: inherit;
    border: 1px solid darkgrey;
    border-radius: 4px;
    font-size: inherit;
    background: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat;
    background-position: calc(100% - 0.75rem) center !important;
}
.Gendercont{
    display: inline-flex;
    width: 100%;
}
.gender{
    border: 1px solid darkgray;
    width: 100%;
    padding: 10px;
    margin: 0px 6px 0px 6px;
    border-radius: 4px;
    float: center;
}
input[type="radio"]{
    float: right;
}
.submit{
    margin-left: 30%;
}
input[type="submit"]{
    background-color:rgb(18, 118, 185);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: large;
    cursor: pointer;
    width: 60%;
    margin-top: 30px;
}
input[type="submit"]:hover{
    background-color: rgb(20, 139, 236);
}
@media screen and (max-width:767px) {
    body{
        padding: 20px;
        margin: 20px;
        background-color: #fff;
        font-family: Arial, sans-serif;
        line-height: 1px;
    }
    .container{
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 59%);
    border-radius: 15px;
    text-align: left;
    align-content: center;
    justify-content: center;
    padding: 10px 20px 20px 20px;
    margin-left: auto;
    margin-right: auto;
    line-height: 20px;
    width: 300px;
    }
    input[type="text"],
    input[type="email"],
    input[type="password"]{
    font-size: 15px;
    padding: 6px;
    }
    .dob{
        font-size: small;
        padding: 5px;
        margin: 0px 3px 0px 0px;
    }
    .gender{
        padding: 5px 5px 5px 5px;
        margin: 0px 3px 0px 0px;
        font-size: small;
        float: right;
        text-align: left;
        vertical-align: center;
    }
    input[type="submit"]{
        padding: 5px;
    }
}
